body{
    font-family: 'Creepster';
    color: orange;
    background-image: url(https://th.bing.com/th/id/R.84183cd88fb1ee1787586d0d9de30cb2?rik=c5WYN24RKREuzQ&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.content{
    text-align: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 5px;
    font-size: 100px;
}